# public net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.client.gui.GuiNewChat field_146252_h # chatLines
public net.minecraft.client.gui.GuiNewChat field_146253_i
public net.minecraft.client.gui.GuiScreen *
public net.minecraft.client.gui.inventory.GuiContainer *
public net.minecraft.client.network.NetHandlerPlayClient field_147300_g # clientWorldController
public net.minecraft.client.particle.EntityFX field_70547_e # particleMaxAge
public net.minecraft.client.renderer.EntityRenderer *
public net.minecraft.client.renderer.entity.RendererLivingEntity field_77045_g # mainModel
public-f net.minecraft.client.renderer.RenderGlobal *
public net.minecraft.client.renderer.Tessellator field_78415_z
public net.minecraft.block.BlockFurnace field_149932_b
public net.minecraft.block.BlockGrass *
public-f net.minecraft.block.BlockQuartz field_150191_a
public-f net.minecraft.block.BlockQuartz field_150189_b
public-f net.minecraft.block.BlockQuartz field_150192_M
public-f net.minecraft.entity.ai.attributes.BaseAttribute field_111113_b # defaultValue
public net.minecraft.entity.ai.EntityAITarget field_75299_d # host
public net.minecraft.entity.ai.EntityAITasks field_75780_b # executingTaskEntries
public net.minecraft.entity.Entity field_70171_ac # inWater
public net.minecraft.entity.Entity field_71087_bX # inPortal
public net.minecraft.entity.Entity field_83001_bt # invulnerable
public net.minecraft.entity.Entity field_96093_i # entityUniqueID
public net.minecraft.entity.Entity field_70134_J # isInWeb
# public net.minecraft.entity.EntityLivingBase *
public net.minecraft.entity.item.EntityEnderEye *
public net.minecraft.entity.monster.EntityGhast *
public net.minecraft.entity.passive.EntityHorse field_110296_bG #horseChest
public net.minecraft.entity.player.EntityPlayer field_71074_e # itemInUse
public net.minecraft.entity.player.EntityPlayer field_71072_f # itemInUseCount
public net.minecraft.entity.projectile.EntityThrowable *
public net.minecraft.inventory.InventoryCrafting field_70465_c # eventHandler
public net.minecraft.inventory.ContainerPlayer field_82862_h # thePlayer
public net.minecraft.item.Item field_77791_bV # itemIcon
public net.minecraft.item.ItemStack field_77991_e # itemDamage
public net.minecraft.item.ItemFood field_77852_bZ # alwaysEdible
# public net.minecraft.nbt.NBTTagCompound field_74784_a # tagMap
# public net.minecraft.nbt.NBTTagList field_74747_a # tagList
public net.minecraft.server.management.UserList field_152696_d # values
public net.minecraft.tileentity.TileEntity field_145846_f # tileEntityInvalid
public net.minecraft.world.World field_73021_x # worldAccesses
public net.minecraft.world.World field_72993_I # activeChunkSet
public net.minecraft.world.gen.structure.StructureComponent *
public net.minecraft.world.storage.WorldInfo field_76100_a # randomSeed
public net.minecraft.world.storage.DerivedWorldInfo field_76115_a # theWorldInfo

public codechicken.nei.ItemMobSpawner IDtoNameMap

public-f vazkii.botania.api.lexicon.LexiconEntry category
public vazkii.botania.api.subtile.SubTileEntity supertile
public vazkii.botania.api.subtile.SubTileGenerating mana
public vazkii.botania.client.core.handler.BossBarHandler currentBoss
public vazkii.botania.client.fx.FXWisp moteHalfLife
public vazkii.botania.client.gui.bag.ContainerFlowerBag flowerBagInv
public-f vazkii.botania.common.block.decor.quartz.BlockSpecialQuartz *
public vazkii.botania.common.block.tile.corporea.TileCorporeaIndex patterns
public vazkii.botania.common.block.tile.TileLightRelay bindX
public vazkii.botania.common.block.tile.TileLightRelay bindY
public vazkii.botania.common.block.tile.TileLightRelay bindZ
public vazkii.botania.common.block.tile.TileManaFlame *
public vazkii.botania.common.block.tile.mana.TilePool canAccept
public vazkii.botania.common.block.tile.mana.TilePool canSpare
public vazkii.botania.common.block.tile.mana.TilePool catalystsRegistered
public vazkii.botania.common.block.tile.mana.TileSpreader MAX_MANA
public vazkii.botania.common.block.tile.mana.TileSpreader ULTRA_MAX_MANA
public vazkii.botania.common.block.tile.mana.TileSpreader knownMana
public vazkii.botania.common.block.tile.mana.TileSpreader receiver
public vazkii.botania.common.crafting.recipe.HeadRecipe name
public vazkii.botania.common.entity.EntityDoppleganger anyWithArmor
public vazkii.botania.common.entity.EntityDoppleganger isPlayingMusic
public vazkii.botania.common.entity.EntityDoppleganger playersWhoAttacked
public vazkii.botania.common.entity.EntitySpark transfers
public vazkii.botania.common.entity.EntityThrowableCopy thrower
public vazkii.botania.common.lexicon.page.PageCraftingRecipe *
public vazkii.botania.common.item.ItemManaMirror fallbackPool
public vazkii.botania.common.item.ItemAncientWill icons
public vazkii.botania.common.item.equipment.bauble.ItemIcePendant gemIcon
public vazkii.botania.common.item.equipment.bauble.ItemTravelBelt fallBuffer
public-f vazkii.botania.common.item.rod.ItemTerraformRod validBlocks
public vazkii.botania.common.item.relic.ItemDice SIDES_FOR_MOON_PHASES

public net.minecraft.client.gui.FontRenderer func_78277_a(CZ)F
public net.minecraft.entity.monster.EntitySlime func_70799_a(I)V # setSlimeSize
public net.minecraft.inventory.Container mergeItemStack(Lnet/minecraft/item/ItemStack;IIZ)Z
public-f net.minecraft.world.biome.BiomeGenBase func_150564_a(III)F #getFloatTemperature

public vazkii.botania.client.core.handler.HUDHandler renderManaInvBar(Lnet/minecraft/client/gui/ScaledResolution;ZII)V
public vazkii.botania.common.core.BotaniaCreativeTab addBlock(Lnet/minecraft/block/Block;)V
public-f vazkii.botania.common.item.equipment.armor.manasteel.ItemManasteelArmor getArmorTexture(Lnet/minecraft/item/ItemStack;Lnet/minecraft/entity/Entity;ILjava/lang/String;)Ljava/lang/String; # mooduck -_-
public vazkii.botania.common.item.equipment.bauble.ItemFlightTiara shouldPlayerHaveFlight(Lnet/minecraft/entity/player/EntityPlayer;)Z
public vazkii.botania.common.item.equipment.bauble.ItemHolyCloak getRenderTexture()Lnet/minecraft/util/ResourceLocation;
public vazkii.botania.common.item.equipment.bauble.ItemUnholyCloak getRenderTexture()Lnet/minecraft/util/ResourceLocation;
public vazkii.botania.common.item.equipment.tool.terrasteel.ItemTerraAxe addBlockSwapper(Lnet/minecraft/world/World;Lnet/minecraft/entity/player/EntityPlayer;Lnet/minecraft/item/ItemStack;Lnet/minecraft/util/ChunkCoordinates;IZ)Lvazkii/botania/common/item/equipment/tool/terrasteel/ItemTerraAxe$BlockSwapper;
public vazkii.botania.common.item.relic.ItemDice hasRelicAlready(Lnet/minecraft/entity/player/EntityPlayer;I)Z
public vazkii.botania.common.item.relic.ItemLokiRing getLokiRing(Lnet/minecraft/entity/player/EntityPlayer;)Lnet/minecraft/item/ItemStack;
public vazkii.botania.common.item.relic.ItemRelic addStringToTooltip(Ljava/lang/String;Ljava/util/List;)V
public vazkii.botania.common.lexicon.page.PagePetalRecipe getMiddleStack()Lnet/minecraft/item/ItemStack;



# NEI copy
public net.minecraft.entity.EntityList field_75624_e # classToIDMapping